* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 26px;
  color: #002d73;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #848d9b;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
}

.active {
  background-color: #b2e5fc;
}

a {
  text-decoration: none;
  color: inherit;
}

.pt_1 {
  padding-top: 10px;
}

.pt_2 {
  padding-top: 20px;
}

.pt_3 {
  padding-top: 30px;
}

.pt_4 {
  padding-top: 40px;
}

.pt_5 {
  padding-top: 50px;
}

.pt_6 {
  padding-top: 60px;
}

.pt_7 {
  padding-top: 70px;
}

.pt_8 {
  padding-top: 80px;
}

.pt_9 {
  padding-top: 90px;
}

.pt_10 {
  padding-top: 100px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1400px) {
  * {
    color: blue !important;
  }
}
@media screen and (max-width: 850px) {
  * {
    color: red !important;
  }

  .container {
    padding: 5%;
  }
}
@media screen and (max-width: 450px) {
  * {
    color: greenyellow !important;
  }

  .container {
    padding: 10%;
  }
}
header .container {
  padding: 0px;
}
header .logo {
  text-align: center;
}
header .logo img {
  margin-top: 20px;
  width: 200px;
  height: auto;
}
header .main_nav ul {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
header .main_nav ul header .logo {
  text-align: center;
}
header .main_nav ul header .logo img {
  margin-top: 20px;
  width: 200px;
  height: auto;
}
header .main_nav ul header .main_nav {
  margin-top: 30px;
}
header .main_nav ul header .main_nav ul {
  display: flex;
  justify-content: center;
}
header .main_nav ul header .main_nav ul li {
  list-style: none;
  font-size: 22px;
  padding: 20px 10px;
  margin: 0 5px;
  font-weight: 700;
}
header .main_nav ul header .main_nav_burger {
  display: none;
  font-size: 40px;
  text-align: center;
  color: #467c9a;
}
header .main_nav ul li {
  list-style: none;
  font-size: 22px;
  padding: 20px 10px;
  margin: 0 5px;
  font-weight: 700;
}
header .main_nav_burger {
  display: none;
  font-size: 40px;
  padding: 7.5px 0;
  text-align: center;
  color: #467c9a;
}

@media screen and (max-width: 1400px) {
  * {
    color: blue !important;
  }
}
@media screen and (max-width: 850px) {
  * {
    color: red !important;
  }

  header .main_nav ul {
    display: none;
  }
  header .main_nav_burger {
    margin-top: 30px;
    display: block;
  }
}
@media screen and (max-width: 450px) {
  * {
    color: greenyellow !important;
  }
}
.FadeInTop {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0, 0.15, 1);
          animation-timing-function: cubic-bezier(0.25, 0, 0.15, 1);
  -webkit-animation-name: fadeInTop;
          animation-name: fadeInTop;
}

@-webkit-keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  75% {
    transform: none;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  75% {
    transform: none;
  }
  100% {
    opacity: 1;
  }
}
main .bg {
  background-image: url("/images/fondo-pag-speciali.jpg");
  background-position: center;
  padding: 20px 0;
}
main .box_container {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
main .box_container .box {
  width: calc((100% / 3) - 15px );
  margin: 7.5px;
}
main .box_container .box img {
  display: block;
  width: 100%;
}
main .product {
  color: #467c9a;
}
main .product .back_img {
  background-color: #b7dae5;
  position: relative;
}
main .product .back_img h1 {
  padding: 30px 0;
  font-size: 22px;
  text-align: center;
  top: 30px;
}
main .product .back_img img {
  padding-top: 20px;
  width: 100%;
}

@media screen and (max-width: 850px) {
  main .box_container .box {
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 450px) {
  main .box_container .box {
    width: 100%;
  }
}
footer {
  background-image: url("/images/footer-montagne-bottom.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 30px 0 60px 0;
  color: #848d9b;
}
footer .info {
  width: 33%;
  float: left;
  padding: 20px;
  margin-top: 30px;
}
footer .info .logo_foot {
  width: 100%;
  min-width: 200px;
}
footer .footer_menu {
  width: 66%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 30px;
}
footer .footer_menu .column {
  margin-top: 30px;
  width: 50%;
  padding: 15px;
}
footer .footer_menu .column1 {
  order: 1;
}
footer .footer_menu .column2 {
  text-transform: capitalize;
  order: 3;
}
footer .footer_menu .column3 {
  order: 2;
}
footer ul li {
  list-style: none;
  line-height: 2;
}
footer ul li:first-of-type {
  margin-top: 20px;
}

@media screen and (max-width: 850px) {
  footer .info,
footer .footer_menu {
    margin-top: 30px;
    width: 100%;
    padding: 15px;
  }
  footer .info {
    max-width: 500px;
  }
  footer .info img {
    max-width: 340px;
  }
  footer .footer_menu .column {
    width: 100%;
    padding: 0;
  }
}
