*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

// font-family: 'Teko', sans-serif;

//* Titols formatting
h2 {
    font-size: $titles_h2;
    color: $color_titles;
    text-transform: uppercase;
}
h3 {
    font-size: $titles;
    text-transform: uppercase;
    color: $color_footer;
}
.container {
    max-width: $container;
    width: 100%;
    padding: 50px;
    margin: 0 auto;
}
.active {
    background-color: $secondary_color;
}
a {
    text-decoration: none;
    color: inherit;
}

@for $i from 1 through 10 {
    .pt_#{$i} {
    padding-top: 10px * $i;
    }
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

// //!! Media query : 
// // ! Large : 0-1400px
// @media screen and (max-width: $mq_large) {

//     *{
//         color: blue!important;
//     }
// }

// // ! Medium : 0-850px
// @media screen and (max-width: $mq_medium) {

//     *{
//         color: red!important;
//     }
// }

// // ! Small : 0-450px
// @media screen and (max-width: $mq_small) {

//     *{
//         color: greenyellow!important;
//     }
// }

