footer {
    background-image: url("/images/footer-montagne-bottom.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 30px 0 60px 0;

    color: $color_footer;
    .info {
        width: 33%;
        float: left;
        padding: 20px;
        margin-top: 30px;
        // border: 2px solid red;

        .logo_foot{
            width: 100%;
            min-width: 200px;
        }
    }
    .footer_menu {
        width: 66%;
        // border: 2px solid blue;
        float: right;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 30px;

        .column {
            margin-top: 30px;
            // border: 2px solid greenyellow;
            width: 50%;
            padding: 15px;
        }
        .column1 {
            order: 1;
        }
        .column2 {
            text-transform: capitalize;
            order: 3;
        }
        .column3 {
            order: 2;
        }
    }
    ul {
        
        li {
            list-style: none;
            line-height: 2;
            
            &:first-of-type {
                margin-top: 20px;
            }
        }        
    }
}


//! Media query : Medium
@media screen and (max-width: $mq_medium) {

    footer {
        .info,
        .footer_menu {
            margin-top: 30px;
            // border: 2px solid greenyellow;
            width: 100%;
            padding: 15px;
        }
        .info{
            max-width: 500px;

            img {
                max-width: 340px;
            }
        }
        .footer_menu{

            .column {
                width: 100%;
                padding: 0;
            }
        }
        
    }
}