header {
    .logo {
        text-align: center;

        img{
            margin-top: 20px;
            width: 200px;
            height: auto;
        }
    }
    .main_nav {
        // border: blue 2px solid;
        ul {
            margin-top: 30px;
            display: flex;
            justify-content: center;

            li {
                list-style: none;
                font-size: $titles;
                padding: 20px 10px;
                margin: 0 5px;
                font-weight: 700;
            }
        }
    }
}