main {
    .bg{
        background-image: url("/images/fondo-pag-speciali.jpg");
        background-position: center;
        padding: 20px 0;
    }

    .box_container {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;

        .box {
            width: calc((100% / 3) - 15px );
            margin: 7.5px;

            img {
                display: block;
                width: 100%;
            }
        }
    }
//!! Routes:
    //* Prodotto
    .product {
        color: $main_color;

        .back_img{
            background-color: $secondary_color_light;
            position: relative;

            h1{
                padding: 30px 0;
                font-size: $titles;
                text-align: center;
                top: 30px;
            }
            img{
                padding-top: 20px;
                width: 100%;
            }
        }
    }
}


//!! Media query : 
// ! Large : 0-1400px
@media screen and (max-width: $mq_large) {


}

// ! Medium : 0-850px
@media screen and (max-width: $mq_medium) {

    main {
        .box_container {
            .box{
                width: calc(50% - 15px);
            }
        }
    }
}

// ! Small : 0-450px
@media screen and (max-width: $mq_small) {

    main {
        .box_container {
            .box{
                width: 100%;
            }
        }
    }
}

