main {
    background-image: url("/images/fondo-pag-speciali.jpg");
    background-position: center;
    padding: 20px 0;
    
    .box_container {
        margin: 10px 0;
        display: flex;
        flex-wrap: wrap;

        .box {
            width: calc((100% / 3) - 15px );
            margin: 7.5px;

            img {
                display: block;
                width: 100%;
            }
        }
    }
}