//* colors
$main_color : #002d73;
$color_titles : #467c9a;
$secondary_color : #b2e5fc;
$secondary_color_light  : #b7dae5;


$color_footer : #848d9b;

//* Text sizes
$small_footer : 14px;
$titles : 22px;
$img_text : 18px;
$titles_h2 : 26px;

$product_h1 : 30px;
$product_text : 25px;


// *Media Query 
$mq_medium : 850px;
$mq_small : 450px;
$mq_large : 1400px;

//* DIV Sizes
$container: 1200px;
