//* colors
$main_color : #467c9a;
$color_titles : #002d73;
$color_nav_hover : #b2e5fc;


$color_footer : #848d9b;

//* DIV Sizes
$container: 1200px;

//* Text sizes
$small_footer : 14px;
$titles : 22px;
$img_text : 18px;
$titles_h2 : 26px;
